/PROGRAMING/netbeans/HelloWorld/nbproject/private/
/PROGRAMING/netbeans/HelloWorld/build/
/PROGRAMING/netbeans/Suma/nbproject/private/
/PROGRAMING/netbeans/Suma/build/
/PROGRAMING/netbeans/Declaracion_variables/nbproject/private/
/PROGRAMING/netbeans/Declaracion_variables/build/
/PROGRAMING/netbeans/Ejercicios_boletin1/nbproject/private/
/PROGRAMING/netbeans/Ejercicios_boletin1/build/
