/PROGRAMING/netbeans/HelloWorld/nbproject/private/
/PROGRAMING/netbeans/HelloWorld/build/
/PROGRAMING/netbeans/Suma/nbproject/private/
/PROGRAMING/netbeans/Suma/build/
/PROGRAMING/netbeans/Declaracion_variables/nbproject/private/
/PROGRAMING/netbeans/Declaracion_variables/build/
/PROGRAMING/netbeans/Ejercicios_boletin1/nbproject/private/
/PROGRAMING/netbeans/Ejercicios_boletin1/build/
/PROGRAMING/netbeans/Ejercicios_de_practica/nbproject/private/
/PROGRAMING/netbeans/Ejercicios_de_practica/build/
/PROGRAMING/netbeans/trimestre1/boletin2/Ejercicios_boletin2/JavaApplication2/nbproject/private/
/PROGRAMING/netbeans/trimestre1/boletin2/Ejercicios_boletin2/Ejercicios_boletin2/nbproject/private/
/PROGRAMING/netbeans/trimestre1/boletin2/Ejercicios_boletin2/Ejercicios_boletin2/build/
